.body{
letter-spacing: 1px;
}

.res-section{
    background: cadetblue;
  /*  background-size: 100%;   */
    background-position: center center;
    padding: 70px 0 80px;
    display: block;
    position: relative;
    height: 900px;
}
.res-section:before{
    content: "";
    width: 100%;
    height: 90%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.reservationcontainer{
    background-color:#b6e5d9;
    margin: 200px;
    box-shadow: 10px black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
}
.container-time
{
    background-color:  #8FDDE7 ;
    padding: 50px;
    outline: 3px dashed rgb(0, 45, 141);
    outline-offset: -30px;
    text-align: center;
    border-radius: 10px;
}

.heading{
    font-weight: 40px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}
.headingdays{
    color: rgb(0, 45, 141);
    font-size: 30px;
}
.headingdays p{
    font-size: 16px;
}

.headingphone{
    font-size: 20px;
}

.container-form{
    padding: 20px 0;
    margin: 0 auto;
    color: black;
}

.form{
    display: grid;
    grid-row-gap: 20px;
}

.form p{
    font-weight: 600px;
}

.formfield{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.formfield p{
    font-size: 16px;
}
.input select{
    pad: 10px 15px;
    margin-top: 2%;
    font-size: 16px;
    height: 18px;
}
.textareas{
    width: 500px;
    display: block;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    height: 100px;
}
.btnrsub{
    margin-top: 2%;
    background-color: #167D7F;
    height: 30px;
    width: 80px;
    border: none;
    font-size: 16px;
    text-align: center;
    border-radius: 100%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-raduis: 100px;
}

.btnrsub:hover{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    background-color: #167D7F;
    box-shadow : 10px 12px 15px rgb(0, 0, .3) ;
}

