@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.cart{
  padding-top: 2%;
  background-color:cadetblue;
  width: 100%;
  height: 100%;
  padding-bottom: 2%;
}

.shopping-cart {
  width: 100%;
  height: 490px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  border-color: black;
  padding-bottom: 2%;
}

.title {
  height: 70px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #048eff;
  font-size: 30px;
  font-weight: 500;
  text-align:justify;
  border-color: teal;
  text-align: center;
}
.titleheadcart {
  height: 60px;
  border-bottom: 1px solid #000000;
  text-align: center;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  text-align:justify ;
  border-color: teal;
  display: flex;
  float: inline-end;
  justify-content: space-between;
  align-items: center;
  padding:0 15px;
}
.titleheadcart div{
  width:16%;
}
/* .checkboxtitle{
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
}
.producttitlehead{
  padding-left: 8%;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
}
.productdesctitlehead{
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
}
.quantitytitlehead{
  padding-left: 13%;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
}

.totalpricetitlehead{
  padding-left: 11%;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
}

.pricetitlehead{
  padding-left: 12%;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
} */
.price{
  width: 80px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  margin-left: 0px;
}

/*Table head kasunod are ng cart na title*/
.item {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 15px;
  border-color: black;
  
}
.item div{
  width:16%;
}
.item:last-child {
  border-top:  1px solid #000000;
  border-bottom:  1px solid #000000;
}

/* sa checkout button*/
.remove_checkout{
  margin-left: 600px;
  margin-top: 20px;
  padding-top: 2%;
  text-align: center;
  margin-bottom: 10px;
}
/*Remove button*/
.removebutton{
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  position: relative;
  padding-top: 30px;
}

.removebutton-primary{

  display: inline-block;
  text-align: center;
  text-decoration: none;
  color:black;
  border: 2px solid white;
  padding: 5px 5px;
  font-size: 14px;
  background:transparent;
  position: relative;
  cursor: pointer;
}

.removebutton-primary:hover{
  border: 1px solif #12bcda;
  background:rgb(141, 238, 255);
  transition: 1s;
}
/*Checkoutbutton*/
.checkoutbutton{
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  position: relative;
  padding-top: 30px;
}

.checkoutbutton-primary{

  display: inline-block;
  text-align: center;
  text-decoration: none;
  color:black;
  border: 2px solid white;
  padding: 5px 5px;
  font-size: 14px;
  background:transparent;
  position: relative;
  cursor: pointer;
}

.checkoutbutton-primary:hover{
  border: 1px solif #12bcda;
  background:rgb(141, 238, 255);
  transition: 1s;
}

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}


.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/* Product Image */

/* Product Description */


/* Product Quantity */
.quantity {
  display:flex
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline:0;
}

/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
